*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    /* 62%=10px=1rem */
    font-size: 62.5%;
    line-height: 1.5;
    /* text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: 'Manrope', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.wrapper {
    padding-top: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f3;
    gap: 2rem;
}

.heading {
    color: #de86d5;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -3px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

.button {
    display: flex;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    background-color: #f0f0f3;
    box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec0;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    padding: 1.1rem 1.6rem;
    color: #5f5f5e;
    font-weight: 500;
    text-align: left;
    outline: none;
    position: relative;
    gap: 6rem;
    align-items: flex-end;
}
.flip {
    transition: all 0.2s ease;
    transform: rotate(180deg);
}

.active,
.button:hover {
    background-color: #ffffffca;
    height: auto;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4rem;
    height: 0;
    overflow: hidden;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.list {
    color: #5f5f5e;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.list:hover {
    color: #5e87f7;
}
